body{
   
    display:flex;
    justify-content:center;
    align-items:center;
    height:100%;
    width:100%;
}


#container{
  border:3px solid black;
  height:400px;
  width:320px;
  margin-top:150px;
}

.answer-display{
    height:50px;
    border:2px dotted black;
    margin:5px;
    padding-left:10px;
    padding:5px;
    border-radius:5px;
}

#numbers{
    display:grid;
    grid-template-columns: 70px 70px 70px ;
    grid-template-rows:70px 70px 70px  ;
    gap:5px;
    padding:10px;

}

.num{
    border:2px solid black;
    border-radius:3px;
    text-align: center;
    padding:30px;
    
}
#operators{
    display:grid;
    grid-template-columns: 70px 70px 70px 70px;
    grid-template-rows: 70px;
    gap:5px;
    padding:10px;
}

.oper{
    border:2px solid black;
    border-radius:3px;
    text-align: center;
    padding:30px;
    
}

.top-section{
    display: flex;

}

#icons{
    display:grid;
    grid-template-columns: 70px;
    grid-template-rows: 60px 60px;
    gap:5px;
    margin-top:20px;

}

.btn{
    border: 2px solid black;
    border-radius: 5px;
    
    text-align:center;
    padding:10px;
}